{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".json"],
        "alias": {
          "src": "./src",
          "constants": "./src/constants",
          "types": "./src/types",
          "modules": "./src/modules"
        }
      }
    ]
  ]
}
